.Game p {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    justify-items: center;
}

.Game form input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
}

.MoneyWon_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.MoneyWon_container > div {
    border: 1px solid  #D0D0D8;
    margin: 3px 0
}
.MoneyWon_container > div.current {
    border-color: #FF8B37;
    color: #FF8B37;
}
.MoneyWon_container > div.won {
    color: #D0D0D8;
}

@media all and (max-width: 600px) {
    .Game {
        display: flex;
        flex-direction: column;
    }

    .MoneyWon_container {
        position: absolute;
    }
}

@media all and (min-width: 601px) {
    .Game {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-column-gap: 10px;
    }

    .MoneyWon_container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}